<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		姓名：<%=name %><br>
		学院：<%=institute %><br>
		意向部门：<%=department %><br>
		联系方式：<%=contact %><br>
		介绍：<%=introduction %><br>
	</div>
</body>
</html>